RewriteEngine On
RewriteBase /
Options +FollowSymLinks

RewriteCond %{HTTP:X-HTTPS} !1
RewriteCond %{HTTP_HOST} ^likewave.io$
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{THE_REQUEST} ([^\s]*)\/{2,}(\?[^\s]*)?
RewriteRule (.*) %1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]

RewriteCond %{REQUEST_URI} \.(jpg|jpeg|png)$ [NC]
RewriteRule (.*) api/webp.php?&src=$1 [L]