.footer {
    background: linear-gradient(92.96deg, #5FB572 2.64%, #4BE96E 61.86%);
    color: #ffffff;
}
.footer .row1 {
    display: flex;
    margin: 0 -1em;
    padding: 4.75em 0 4em;
}
.footer .row1 .col {
    width: 20%;
    box-sizing: border-box;
    padding: 0 1em;
}
.footer .row1 .col2 {
    width: 40%;
}
.footer .row1 .line2 {
    font-weight: 600;
    line-height: 1.685;
    margin: 0 0 0.5em;
}
.footer .row1 .line3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer .row1 .line3 li {
    margin: 0 0 0.75em;
}
.footer .row1 .line3 li:last-child {
    margin-bottom: 0;
}
.footer .row1 .col2 .line3 {
    column-count: 2;
    column-gap: 2em;
}
.footer .row1 .line3 a {
    color: inherit;
    opacity: 0.8;
    text-decoration: none;
}
.footer .row1 .line3 a:hover {
    font-weight: 600;
    text-decoration: underline;
}
.footer .row1 .line4 {
    display: flex;
    flex-wrap: wrap;
    margin: -0.25em;
}
.footer .row1 .line4 .item {
    margin: 0.25em;
    width: 2.125em;
    height: 1.5em;
    box-sizing: border-box;
    border-radius: 0.25em;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
}
.footer .row1 .line4 .item .logo {
    max-width: 1.5em;
    max-height: 1em;
    display: block;
}
.footer .row2 {
    padding: 0.875em 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer .row2 .line1 {
    opacity: 0.6;
}
.footer .row2 .line1 a {
    color: inherit;
}
.footer .row2 .line1 a:hover {
    text-decoration: none;
    font-weight: 600;
}
@media(max-width: 1199px) {
    .footer .row1 {
        padding: 3.75em 0;
        flex-wrap: wrap;
    }
    .footer .row1 .col {
        width: 22%;
    }
    .footer .row1 .col1 {
        width: 100%;
    }
    .footer .row1 .col2 {
        width: 62%;
    }
    .footer .row1 .col3 {
        width: 16%
    }
    .footer .row1 .line1 {
        margin: 0 0 1.25em;
    }
}
@media(max-width: 767px) {
    .footer {
        background: #5AC471;
    }
    .footer .row1 {
        padding: 2.5em 0 6.25em;
        display: block;
        margin: 0;
    }
    .footer .row1 .col {
        width: 100%;
        padding: 0;
    }
    .footer .row1 .col2 .line3 {
        column-count: 1;
    }
    .footer .row1 .line3 {
        margin: 0 0 1.125em;
    }
    .footer .row2 {
        padding: 0.75em 0 1.5em;
        display: block;
        text-align: center;
    }
}