.service_text_sect {
    padding: 5.5em 0;
    line-height: 1.685;
}
.service_text_sect .row1 {
    color: #788287;
}
.service_text_sect .row1 h2 {
    font-weight: 600;
    font-size: 1.875em;
    color: #00131D;
}
.service_text_sect .row1 h2:first-child {
    margin-top: 0;
}
.service_text_sect .row1 h2:last-child {
    margin-bottom: 0;
}
.service_text_sect .row1 p:first-child {
    margin-top: 0;
}
.service_text_sect .row1 p:last-child {
    margin-bottom: 0;
}
.service_text_sect .row2 {
    margin-top: 1.25em;
    letter-spacing: -0.02em;
    line-height: 1.15;
    font-weight: 700;
}
@media(max-width: 1199px) {
    .service_text_sect {
        padding: 3.75em 0 3.5em;
    }
    .service_text_sect .row1 h2 {
        font-size: 1.875em;
    }
}
@media(max-width: 767px) {
    .service_text_sect {
        padding: 2.25em 0;
    }
    .service_text_sect .row1 h2 {
        font-size: 1.375em;
    }
}