.text_sect {
    padding: 2.25em 0 4.75em;
}
.text_sect .row1 {
    letter-spacing: -0.04em;
    color: #808086;
    line-height: 1.685;
}
.text_sect .row1 p {
    font-size: 0.875em;
}
.text_sect .row1 p:last-child {
    margin-bottom: 0;
}
.text_sect .row1 p:first-child {
    margin-top: 0;
}
.text_sect .row1 h2 {
    letter-spacing: -0.04em;
    line-height: 1.685;
    color: #5CBE72;
    font-weight: 900;
    font-size: 1.375em;
}
.text_sect .row1 h2:first-child {
    margin-top: 0;
}
.text_sect .color_bg {
    margin: 0 calc(50% - 50vw);
    padding: 1em calc(50vw - 50%);
    background-color: #F4F9F5;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(/img/text_sect/color-bg.svg);
}
.text_sect .color_bg:last-child {
    margin-bottom: -4.75em;
    padding-bottom: 4.75em;
}
@media(max-width: 1199px) {
    .text_sect {
        padding: 3.25em 0;
    }
    .text_sect .color_bg {
        background-image: url(/img/text_sect/color-bg-tablet.svg);
    }
    .text_sect .color_bg:last-child {
        margin-bottom: -3.25em;
        padding-bottom: 3.25em;
    }
}
@media(max-width: 767px) {
    .text_sect {
        padding: 2em 0;
    }
    .text_sect .color_bg {
        background-image: url(/img/text_sect/color-bg-mob.svg);
    }
    .text_sect .color_bg:last-child {
        margin-bottom: -2em;
        padding-bottom: 2em;
    }
}